<mat-toolbar id="test" class="mat-display-2" fxLayout="row" color="primary">
  <!--  Core Site Navigation -->
  <div fxFlex>
    <app-rundle-button displayValue="Home" routerLink="/"></app-rundle-button>
  </div>
  <div fxFlex>
    <app-rundle-button displayValue="Manage Posts" routerLink="/post/view"></app-rundle-button>
  </div>
  <mat-menu #blogMenu="matMenu">
    <button mat-menu-item>Category 1</button>
    <button mat-menu-item>Category 2</button>
  </mat-menu>
  <div fxFlex>
    <app-rundle-button displayValue="Blog Posts" [matMenuTriggerFor]="blogMenu">
    </app-rundle-button>
  </div>

  <div fxFlex.gt-xs="60"></div>

  <!--  External links -->
  <div fxFlex>
    <app-rundle-icon-button-fa displayValue="LinkedIn" link="https://www.linkedin.com/in/liryan/"
                               faIconClass="fab fa-linkedin"></app-rundle-icon-button-fa>
  </div>
  <div fxFlex>
    <app-rundle-icon-button-fa displayValue="Github" link="https://github.com/Liam-Ryan"
                               faIconClass="fab fa-github"></app-rundle-icon-button-fa>
  </div>

  <!--  Authentication -->
  <div fxFlex *ngIf="!authService.isAuthenticated(); else loggedIn">
    <app-rundle-button displayValue="Login" (click)="authService.login()"></app-rundle-button>
  </div>
  <ng-template #loggedIn>
    <app-rundle-button displayValue="Logout" (click)="authService.logout()"></app-rundle-button>
  </ng-template>

</mat-toolbar>
